:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-color: #212121;
  --first-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --button-text-color: #ffffff;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* logo */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.header-logo-text {
  color: var(--main-color);
}

.basement-logo-text {
  color: var(--button-text-color);
  text-decoration: none;
}

/* button */

.button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 16px;
}

/* Site nav */

.header {
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.current {
  color: var(--accent-color);
}

.site-nav {
}

.contact-nav {
  color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.basement-link:hover,
.basement-link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--first-background-color);
}
.hero-title {
  color: var(--button-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero .button {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
}

/* feature */

.feature-list .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.feature-list .text {
  color: var(--secondary-text-color);
}
/* about */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Our-team */
.team {
  background-color: var(--secondary-background-color);
  text-align: center;
}

.team-item {
  font-weight: 500;
}

.team-item,
.team-text {
  font-size: 16px;
  line-height: 1.2;
}
.team-text {
  color: var(--secondary-text-color);
}

/* Basement */
.basement {
  color: var(--basement-text-color);
  background-color: var(--first-background-color);
}

.address {
  font-style: inherit;
  color: var(--button-text-color);
}

.basement-link {
  color: var(--contacts-text-color);
}

.basement-link[target="_blank"] {
  color: var(--button-text-color);
}

.basement-address {
  color: var(--button-text-color);
}

/* Portfolio */
.portfolio-filter:hover,
.portfolio-filter:focus {
  color: var(--button-text-color);
  background-color: var(--accent-color);
}

.portfolio-filter {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
}

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */
